.navbar-brand:hover {

  background-color: red;
  border-radius: 10px 10px 10px 10px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif


}

.navbar-dark .navbar-nav .nav-link:hover {

  border-radius: 20px 20px 20px 20px;
  background-color: rgb(12, 12, 12);
}
.navbar {
  background-color: #267fbb;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(244, 245, 250);
  font-size: 20px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar-dark .navbar-nav .nav-link:hover {
  /* text-decoration: underline; */
  background-color: rgb(204, 29, 29);
  background-position: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: red;
  padding-right: 5%;
}



h2 {
  text-align: right;
  font-size: 20px;
  color: rgb(31, 36, 9);

}

.txt:hover {
  text-decoration: underline;
}

  

.navbar img{

  object-position: center;
  
}
.li{
  color: aliceblue;
}
.p{
  background-color: black;
  color: aqua;
  position: absolute;

}
