<section class="services">
  <div class="container">
    <figure class="text-center"><br>
        <blockquote class="blockquote">
          <p>We are specialized in below Services</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          We are best in <cite title="Source Title">UI/UX Design</cite>
        </figcaption>
      </figure>
    <h1 class="text-center "> OUR SERVICES</h1>

    <div class="row">
      <div class="col-lg-3" *ngFor="let cs of services">
        <div class="box shadow-lg">
            <img src="{{cs.image}}" width="100%">
          <h3 class="mt-2">{{cs.name}}</h3>
          <p class="mt-2">{{cs.description}}</p>
          <a href="#" class="btn btn-sm btn-primary mt-2">Explore Now</a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. since the 1500s ahmad is a bc boy, vicky has somanh doubts and noone know till when we will last- thanks for reading and sorry for wasting your time, when specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>

    </div>
  </div>

</section>
