
<section class="contact">
    <div class="login col-lg-4 m-auto shadow-lg">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Name</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Phone</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Position Applying for</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Location</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
           
            <button type="submit" class="btn btn-warning col-lg-12">Register</button>
          </form>
    </div>
    </section>

    <div class="row">
  
          <div >
              <h1 class="h1"> Register your profile <br><br> to always be on top</h1><br>
            <h2> <small class="text-muted">we know its a rat race, but untill you find a way to get out of here</small></h2>
            <h2> <small class="text-muted">bear with us, we will make sure y'll allways win this race</small></h2>
          
        </div>