.home img {
  width: 100%;
  height: 710px;
  object-position: center;
  
}
.homecomponent {
  position: absolute;
  padding-bottom: 5px;
  top: 50%;
  left: 40%;
    transform:translate(-50%, -50%);
}
.homecomponent h1{
  color: #ffffff;
  font-size: 42px;
}
.example-button-row{
  position: absolute;
  font-size: 100px;
  top: 7%;
  left: 95%;
}
@media screen and (max-width:600px){
  .home img{
    height:700px;
  }
  .homecomponent h1{
    font-size: 40px;
  }
  .example-button-row{
    position: absolute;
    font-size: 100px;
    top: 7%;
    left: 85%;
  }
}