<section class="home">



  
  <a><img src="../../assets/img/meet.jpg"></a>
  <h2 class="text-center">{{dateTime | date:'short'}}</h2>
  <div class="homecomponent">
    
    <h1>
      The Online Community<br>
    </h1>
    <h1>
      for those who dare to change
    </h1>
    <a routerLink="services" class="btn btn-lg btn-light">Welcome to your next ulimate career</a> &nbsp;
    <a routerLink="join-us" class="btn btn-lg btn-primary">Join Today</a>
  </div>

</section>

<div class="yt">
<youtube-player 

class="first"
  videoId="LUgaR2yAJ4o"
  SuggestedQuality="highres"
  [height]="500"
  [width]="700"></youtube-player>
  
  
  <span class="second" >
    <youtube-player
    
  videoId="UWHHTfFhD3o"
  SuggestedQuality="highres"
  [height]="500"
  [width]="700"></youtube-player>
  </span>
</div>
  

 