<section class="home">
  <a href="https://www.google.com/"><img src="../../assets/img/earth.jpg"></a>
  <div class="homecomponent">

    <h1 >
    Grow your business <br> 
    </h1>
    <h1 >
      like never before
      </h1>
    <a routerLink="services" class="btn btn-lg btn-light">Explore Possibilities</a> &nbsp;
    <a routerLink="join-us" class="btn btn-lg btn-primary">Get Started</a>
</div>
</section>
<section>
  
  <div class="example-button-row">
        <a mat-fab color="primary" href="https://www.google.com/" >Search</a>
        
  </div>
  
</section>  